* {
    background-color: #ff9933;
}

h1 {
    text-align: center;
    color: hwb(60 13% 59%);
}

img {
    height:auto;
    width: 600;  
}
p, ul {
    text-align: center;
    list-style-type: none;
}

.recipes {
    background-color: black;
    color: red;
}
.image {
    display: grid;
    place-items: center;
}

